{{>header}}


<div class="main-content">

    {{>navigation}}
    <p>use this site to get your weather</p>

    <form>
        <input placeholder="Enter Search Location">
        <button>Search</button>
    </form>

    <p id="message-1"></p>
    <p id="message-2"></p>
</div>





{{>footer}}